.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: yellow;
}

header {
  background: black;
  color: white;

}

main {
  background: bisque;
  flex: 1;

}


footer {
  background: black;
  color: white;

}
